<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HealthSync</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/register.css">
</head>
<body>
<section class="h-100 h-v-center">
    <div class="container">
        <div class="title">Patient Registration</div>
        <div class="content">
            <form th:action="@{/signup}" method="post" th:object="${signupModel}">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">First Name</span>
                        <input type="text" th:field="*{firstName}" placeholder="Enter your first name" required>
                        <small class="text-danger" th:errors="*{firstName}"></small>
                    </div>
                    <div class="input-box">
                        <span class="details">Last Name</span>
                        <input type="text" th:field="*{lastName}" placeholder="Enter your last name" required>
                        <small class="text-danger" th:errors="*{lastName}"></small>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" th:field="*{email}" placeholder="Enter your email" required>
                        <small class="text-danger" th:errors="*{email}"></small>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" th:field="*{phone}" placeholder="Enter your number" required>
                        <small class="text-danger" th:errors="*{phone}"></small>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" th:field="*{password}" placeholder="Enter your password" required>
                        <small class="text-danger" th:errors="*{password}"></small>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="password" th:field="*{confirmPassword}" placeholder="Confirm your password" required>
                        <small class="text-danger" th:errors="*{confirmPassword}"></small>
                    </div>
                    <div class="input-box">
                        <span class="details">Date of Birth</span>
                        <input type="date" th:field="*{dateOfBirth}" required>
                        <small class="text-danger" th:errors="*{dateOfBirth}"></small>
                    </div>
                    <div class="input-box">
                        <input type="radio" name="gender" id="dot-1" th:value="Male" th:field="*{gender}" required>
                        <input type="radio" name="gender" id="dot-2" th:value="Female" th:field="*{gender}" required>
                        <small class="text-danger" th:errors="*{gender}"></small>
                        <span class="details">Gender</span>
                        <div class="category">
                            <label for="dot-1">
                                <span class="dot one"></span>
                                <span class="gender">Male</span>
                            </label>
                            <label for="dot-2">
                                <span class="dot two"></span>
                                <span class="gender">Female</span>
                            </label>
                        </div>
                    </div>
                    <div class="input-box">
                        <span class="details">Medical History(optional)</span>
                        <textarea rows="3" cols="78" th:field="*{medicalHistory}" placeholder="Enter your medical history"></textarea>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
                <div class="row">
                    <div class="col-6 text-start">
                        <a th:href="@{/signupDoctor}">Sign up as Doctor!</a>
                    </div>
                    <div class="col-6 text-end">
                        <a th:href="@{/login}">Have account already? Login!</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer th:replace="fragments/commons.html::footerx"></footer>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>
</html>